<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign_in</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div class="inputbox">
    <h1>LOGIN</h1>
    <form action="/login" method="post">
      <input type="email" id="email" name="email" placeholder="Enter your email address..." required/>
      <br>
      <input type="text" id="password" name="password" placeholder="Enter your password..."  required/>
      <br>
      <div class="buttons">
        <button type="submit">
          Login
        </button>
        <br>
        <button type="reset">
          Cancel
        </button>
      </div>
      <br>

      <div style="display: flex; justify-content: center; font-size: 15px;">
        Don't have account?&nbsp;<span><a href="/signup">signup</a></span>
      </div>
    </form>
  </div>

</body>

</html>